$bp-tab: 64rem;
$bp-large: 75.75rem;
$bp-medium: 50rem;
$bp-small: 38.06rem;

:root{
    --color-primary: #000;
    --color-secondary:  #767676;
    --color-tertiary: #65C100;
    --color-neutral: #fff;
    --color-grey-light: #DDDDDD;
    --color-grey-dark: #AAAAAA;
    --color-rate: #EBA430;
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5% ;

    @media only screen and (max-width: $bp-small) {
        font-size: 40%;
        // overflow: scroll;
        // background: red;
    }
} 

body{
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.6;
    color: var(--color-primary);
    background-color: #979797;
    font-weight: 10;
    background: #fefefe;
    position: relative;
}