.mobile{

    &__search{
        background: none;
    position: absolute;
    top: 1rem;
    left: 10rem;
    width: 8rem;
    height: 7rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    // padding: 3rem 0;
    // margin-top: 1rem;
    @media only screen and (max-width: $bp-large){
        display: none;
        opacity: 0;

            }

    @media only screen and (max-width: $bp-medium){
        display: none;
        opacity: 0;
    }

    &--form{
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        display: flex;
    }

    &__nav{
        position: absolute;
        top: 1.5rem;
        left: 20rem;
        display: flex;
      

    }


    &--nav-toggle{
        position: absolute;
        top: 2.5rem;
        // left: 3rem;
        left: 200px;
        z-index: 2000;
        width: 4rem;
        height: 4rem;
        display: none;

        @media only screen and (max-width: $bp-medium){
            display: none;

        }

        @media only screen and (max-width: $bp-small){
            display: block;

        }
    }
        &--nav{
            display: none;


        }
        
    &-icon{
    width: 3rem;
    height: 3rem;

    fill: var(--color-primary);
    }  
    &-icon2{
        width: 2.5rem;
        height: 2.5rem;
    
        fill: var(--color-primary);
        display: none;
        opacity: 0;
        }           
&--form{
    width: 100%;
    display: none;
    

    
    label{
        position: absolute;
        right: 170px;
        top: 55px;
        background: red;
        width: 100%;
        padding: 1.3rem 1rem;
        font-size: 2rem;
        font-family: inherit;
        font-weight: bold;
        border-left: 2px solid var(--color-tertiary);
        transition: all .2s;

        display: none;
           
      }
}
&--input{
    outline: none;
    padding: 1.5rem;
    border: 1px solid var(--color-grey-light);
}

&--icon-box{
    
    padding: 1.5rem;
    border: 1px solid var(--color-grey-light);
    background: var(--color-grey-lighter);
}
&--icon{
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary); 
    
   
}     

&--icon2{
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary); 
    
   
} 
    }     

}



.mobile__search--nav:checked ~ .mobile__search--form{
    opacity: 1;    
    display: block;
}
    
.mobile__search--nav:checked ~ .mobile__search{
    opacity: 1;
    display: block;
}

.mobile__search--nav:checked ~ .header .logo-box {
    opacity: 0 ;
    display: none;
}

.mobile__search--nav:checked ~ .header .user-nav  {
    opacity: 0 ;
    display: none;
}

// .mobile__search--nav:checked ~ .mobile__search  {
//     left: 170px;
// }

// .mobile__search--nav:checked ~ .mobile__search  {
//     left: 170px;
// }


.mobile__search--nav:checked + .mobile__search--nav-toggle  {
    left: 7rem;
}

.mobile__search--nav:checked + .mobile__search--nav-toggle  {
    left: 7rem;
}

.mobile__search--nav:checked + .mobile__search--nav-toggle .mobile__search-icon{
    opacity: 0;
    display: none;
}
.mobile__search--nav:checked + .mobile__search--nav-toggle .mobile__search-icon + .mobile__search-icon2{
    width: 3rem;
    height: 3rem;
    opacity: 1;
    display: block;
}


