:root {
  --color-primary: #000;
  --color-secondary:  #767676;
  --color-tertiary: #65C100;
  --color-neutral: #fff;
  --color-grey-light: #DDDDDD;
  --color-grey-dark: #AAAAAA;
  --color-rate: #EBA430; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 30.31rem) {
    html {
      font-size: 40%;
      background: red; } }

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6;
  color: var(--color-primary);
  background-color: #979797;
  font-weight: 10;
  background: #fefefe;
  position: relative; }

.mobile__search {
  background: none;
  position: absolute;
  top: 1rem;
  left: 10rem;
  width: 8rem;
  height: 7rem;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }
  @media only screen and (max-width: 75.75rem) {
    .mobile__search {
      display: none;
      opacity: 0; } }
  @media only screen and (max-width: 50rem) {
    .mobile__search {
      display: none;
      opacity: 0; } }
  .mobile__search--form {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex; }
  .mobile__search__nav {
    position: absolute;
    top: 1.5rem;
    left: 20rem;
    display: flex; }
  .mobile__search--nav-toggle {
    position: absolute;
    top: 4rem;
    left: 300px;
    z-index: 2000;
    width: 2rem;
    display: none; }
    @media only screen and (max-width: 50rem) {
      .mobile__search--nav-toggle {
        display: none; } }
    @media only screen and (max-width: 30.31rem) {
      .mobile__search--nav-toggle {
        display: block; } }
  .mobile__search--nav {
    display: none; }
  .mobile__search-icon {
    width: 3rem;
    height: 3rem;
    fill: var(--color-primary); }
    @media only screen and (max-width: 30.31rem) {
      .mobile__search-icon {
        width: 3rem;
        height: 3rem; } }
  .mobile__search-icon2 {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary);
    display: none;
    opacity: 0; }
  .mobile__search--form {
    width: 100%;
    display: none; }
    .mobile__search--form label {
      position: absolute;
      right: 170px;
      top: 55px;
      background: red;
      width: 100%;
      padding: 1.3rem 1rem;
      font-size: 2rem;
      font-family: inherit;
      font-weight: bold;
      border-left: 2px solid var(--color-tertiary);
      transition: all .2s;
      display: none; }
  .mobile__search--input {
    outline: none;
    padding: 1.5rem;
    border: 1px solid var(--color-grey-light); }
  .mobile__search--icon-box {
    padding: 1.5rem;
    border: 1px solid var(--color-grey-light);
    background: var(--color-grey-lighter); }
  .mobile__search--icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary); }
  .mobile__search--icon2 {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-primary); }

.mobile__search--nav:checked ~ .mobile__search--form {
  opacity: 1;
  display: block; }

.mobile__search--nav:checked ~ .mobile__search {
  opacity: 1;
  display: block; }

.mobile__search--nav:checked ~ .header .logo-box {
  opacity: 0;
  display: none; }

.mobile__search--nav:checked ~ .header .user-nav {
  opacity: 0;
  display: none; }

.mobile__search--nav:checked + .mobile__search--nav-toggle {
  left: 7rem; }

.mobile__search--nav:checked + .mobile__search--nav-toggle {
  left: 7rem; }

.mobile__search--nav:checked + .mobile__search--nav-toggle .mobile__search-icon {
  opacity: 0;
  display: none; }

.mobile__search--nav:checked + .mobile__search--nav-toggle .mobile__search-icon + .mobile__search-icon2 {
  width: 3rem;
  height: 3rem;
  opacity: 1;
  display: block; }

.mobile__nav {
  display: none; }

.mobile__menu--icon {
  width: 3rem;
  height: 3rem;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.mobile__menu--icon2 {
  width: 3rem;
  height: 3rem;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 0; }

.mobile__search-icon {
  width: 3rem;
  height: 3rem; }

.mobile__nav:checked ~ .search {
  opacity: 1;
  display: block;
  position: absolute;
  display: flex; }

.logo-icon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header__logo {
  fill: white;
  background: #000000;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: relative;
  margin-left: 0; }

.logo-box {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 50rem) {
    .logo-box {
      flex: 0 0 25%; } }

.book-author {
  display: block; }

.books-available {
  padding: 1rem 0; }

.feature-books {
  width: 10rem; }
  @media only screen and (max-width: 30.31rem) {
    .feature-books {
      width: 20rem; } }

.available {
  color: var(--color-tertiary); }

.unavailable {
  color: red; }

.rating {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-grey-dark);
  padding-right: 2rem; }

.books-rating {
  display: flex;
  align-items: center;
  padding: 2rem 0; }

.rating__star {
  width: 1rem;
  height: 1rem;
  fill: var(--color-grey-dark);
  stroke-width: 0; }

.rated {
  fill: var(--color-rate); }

.rating__user {
  display: flex;
  flex-direction: column;
  padding-left: 1rem; }

.rating__user--icon {
  width: 2rem;
  height: 2rem; }

.ml-small {
  margin-left: 1rem; }

.carousel {
  background: #EEE; }

.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px; }

.carousel-cell.is-selected {
  background: #ED2; }

/* cell number */
.carousel-cell:before {
  display: block; }

.heading-secondary {
  font-size: 1.3rem;
  padding: 1.5rem 0; }
  @media only screen and (max-width: 30.31rem) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-secondary__green {
  color: var(--color-tertiary);
  cursor: pointer; }

.p-small {
  padding: .5rem 0; }

.uncheck-nofication {
  background-color: var(--color-tertiary);
  color: var(--color-neutral) !important;
  border-radius: 50%;
  padding: .5rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500; }
  @media only screen and (max-width: 30.31rem) {
    .uncheck-nofication {
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center; } }

.mt-3 {
  margin-top: 3rem; }

.carousel-cell {
  width: 20rem;
  height: 25rem;
  margin: 0 2rem;
  display: block; }

.carousel-cell img {
  width: 100%;
  height: 100%; }

.section-side {
  flex: 0 0 25%;
  padding-top: 2rem;
  box-shadow: 0.6rem 0 1rem rgba(177, 176, 176, 0.103); }
  @media only screen and (max-width: 50rem) {
    .section-side {
      flex: 0 0 35%; } }
  @media only screen and (max-width: 30.31rem) {
    .section-side {
      display: none; } }

.section-feature {
  background: white;
  flex: 0 0 73%;
  padding: 1rem 2rem 0 1rem; }
  @media only screen and (max-width: 30.31rem) {
    .section-feature {
      flex: 0 0 100%;
      margin: 0; } }

.feature-box {
  margin: 0 0;
  padding-left: .2rem; }

.section-books {
  margin: 0;
  padding: 0;
  padding-top: 4.5rem; }

.section-books__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem 2rem; }
  @media only screen and (max-width: 930px) {
    .section-books__box {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 50rem) {
    .section-books__box {
      grid-template-columns: repeat(1, 1fr); } }
  @media only screen and (max-width: 30.31rem) {
    .section-books__box {
      grid-template-columns: 1fr; } }

.container {
  overflow: hidden;
  display: flex;
  justify-content: space-between; }

.heading-feature {
  letter-spacing: .3rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  border-bottom: 1px solid var(--color-grey-light);
  margin: 0 0 3rem 0;
  margin-top: 2rem; }

/* books section */
.section-books__items {
  display: flex;
  align-content: space-between;
  font-weight: 500;
  background: var(--color-neutral);
  padding-right: 2rem;
  border-radius: .4rem;
  margin: .2rem; }
  @media only screen and (max-width: 30.31rem) {
    .section-books__items {
      font-size: 2rem; } }

.section-books__items:hover {
  box-shadow: 0 0 1rem var(--color-grey-dark); }

@media only screen and (max-width: 30.31rem) {
  .feature-books {
    padding-right: 3rem; } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.664);
  font-size: inherit;
  align-content: space-between;
  padding: 1.5rem 0;
  box-shadow: 0 0.6rem 1rem rgba(177, 176, 176, 0.103);
  width: 100%;
  z-index: 12;
  position: fixed;
  position: relative;
  padding-right: 4rem;
  padding-left: 4rem; }
  @media only screen and (max-width: 697px) {
    .header {
      padding-right: 1rem;
      padding-left: 1rem; } }
  @media only screen and (max-width: 609px) {
    .header {
      padding-right: 1rem;
      padding-left: 1rem; } }

.logo-heading {
  display: flex;
  flex-direction: column;
  margin-left: 2rem; }
  @media only screen and (max-width: 50rem) {
    .logo-heading {
      display: block;
      margin-left: .7rem; } }
  .logo-heading__main {
    font-size: 1.7rem; }
    @media only screen and (max-width: 30.31rem) {
      .logo-heading__main {
        display: none; } }
  .logo-heading__sub {
    font-size: 1.3rem;
    color: var(--color-secondary); }
    @media only screen and (max-width: 30.31rem) {
      .logo-heading__sub {
        display: none; } }

.user-nav {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 609px) {
    .user-nav {
      margin: 0;
      padding: 0; } }
  @media only screen and (max-width: 50rem) {
    .user-nav {
      flex: 0 0 30%;
      padding-right: 1rem;
      padding-left: 1rem; } }
  .user-nav-icon {
    height: 3rem;
    width: 4rem;
    margin: 0;
    padding: 0;
    margin-right: 1.5rem; }
  .user-nav__img-box {
    border-radius: 50%;
    box-shadow: 0 0 1rem rgba(117, 117, 117, 0.3);
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    border: 2px solid var(--color-neutral); }

.user-nav__img {
  width: 100%;
  background-size: cover; }

.user-nav__notification {
  position: relative; }

.user-nav-icon__notification {
  background-color: var(--color-tertiary);
  color: var(--color-neutral);
  font-size: 1.5rem;
  padding: .5rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.8rem;
  left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold; }

.search {
  display: flex;
  flex: 0 0 60%;
  margin: 0 auto;
  justify-content: center; }
  @media only screen and (max-width: 609px) {
    .search {
      flex: 0 0 30%;
      margin: 0 auto; } }
  @media only screen and (max-width: 884px) {
    .search {
      flex: 0 0 45%;
      margin: 0 auto; } }
  @media only screen and (max-width: 50rem) {
    .search {
      flex: 0 0 40%;
      margin: 0 auto; } }
  @media only screen and (max-width: 30.31rem) {
    .search {
      flex: 0 0 100%;
      margin: 0 auto;
      width: 100%;
      display: none;
      opacity: 0; } }
  .search-icon {
    fill: var(--color-grey-dark);
    width: 10rem;
    width: 2rem;
    height: 1rem;
    margin: 1rem; }
  .search-icon-box {
    background: #F9F9FB;
    border: 1px solid #DDDDDD; }
  .search__form {
    position: relative;
    width: 50%; }
    .search__form label {
      position: absolute;
      left: 0;
      top: 100%;
      background: var(--color-neutral);
      width: 100%;
      padding: 1.3rem;
      font-size: 1.2rem;
      font-family: inherit;
      font-weight: bold;
      border-left: 2px solid var(--color-tertiary);
      transition: all .2s; }
  .search__input {
    border: 1px solid #DDDDDD;
    padding: 1rem;
    width: 100%;
    font-family: inherit;
    font-size: 1.4rem;
    color: inherit; }
    .search__input:placeholder-shown + .search__input__label {
      opacity: 0;
      display: none;
      transform: translateY(-4rem); }
    .search__input:focus {
      outline: none;
      box-shadow: 0 0 0.5rem var(--color-tertiary); }
  .search::-webkit-input-placeholder {
    color: var(--color-grey-dark);
    font-weight: bold; }

.container {
  display: flex;
  font-size: 1.3rem; }

.navigation {
  font-size: 2rem;
  display: none;
  position: absolute;
  top: 0;
  left: 0; }
  @media only screen and (max-width: 30.31rem) {
    .navigation {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0; } }
  .navigation__checkbox {
    display: none;
    opacity: 0; }
  .navigation_background {
    background-image: red;
    height: 3rem;
    width: 3rem; }
  .navigation__button {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 0;
    top: 1.5rem;
    opacity: 0;
    display: none;
    z-index: 5000; }
    @media only screen and (max-width: 30.31rem) {
      .navigation__button {
        opacity: 1;
        display: block; } }
  .navigation__nav {
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .navigation__sidebar {
    width: 80%;
    background-color: var(--color-neutral); }
    .navigation__sidebar__nav {
      padding-left: 4rem;
      margin-left: 0;
      display: flex; }
      .navigation__sidebar__nav:first-child {
        padding-top: 10rem; }

.nav__logo {
  width: 7rem;
  height: 7rem;
  background: var(--color-primary);
  border-radius: 50%;
  margin-right: 3rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav__logo--name {
    font-size: 1rem; }
  .nav__logo--icon {
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    fill: var(--color-neutral); }

.nav-heading {
  display: flex;
  flex-direction: column; }
  .nav-heading__main {
    font-size: 3rem; }
  .nav-heading__sub {
    font-size: 2rem;
    font-weight: 200; }

.navigation__sidebar {
  transform: translateX(-100%);
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: none;
  opacity: 0; }

.navigation__checkbox:checked ~ .navigation__nav .navigation__sidebar {
  transform: translateX(0);
  display: inline-block;
  opacity: 1;
  width: 60rem;
  position: absolute;
  top: 0;
  left: 0; }

.navigation__checkbox:checked ~ .navigation__nav {
  background: rgba(168, 168, 168, 0.664);
  display: inline-block;
  opacity: 1;
  width: 85vh;
  position: absolute;
  top: -4rem;
  left: 0; }

.navigation__nav {
  opacity: 0; }

.navigation__checkbox:checked ~ .navigation__button .mobile__menu--icon {
  display: none;
  opacity: 0; }

.navigation__checkbox:checked ~ .navigation__button .mobile__menu--icon2 {
  display: block;
  opacity: 1; }

.side-bar__nav {
  padding: 1rem 4rem 4rem;
  font-weight: normal; }

.side-bar__nav:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-light); }

.side-bar__item {
  display: flex;
  justify-content: space-between; }

.side-bar__item-number {
  color: var(--color-grey-dark); }

.heading-feature {
  letter-spacing: .3rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  border-bottom: 1px solid var(--color-grey-light);
  margin: 0 0 3rem 0;
  margin-top: 2rem; }

/* books section */
.section-books__items {
  display: flex;
  align-content: space-between;
  font-weight: 500;
  background: var(--color-neutral);
  padding-right: 2rem;
  border-radius: .4rem;
  margin: .2rem; }
  @media only screen and (max-width: 30.31rem) {
    .section-books__items {
      font-size: 2rem; } }

.section-books__items:hover {
  box-shadow: 0 0 1rem var(--color-grey-dark); }

@media only screen and (max-width: 30.31rem) {
  .feature-books {
    padding-right: 3rem; } }
